name: Build and Distribute PhotonLibPy

permissions:
  id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get git version
        id: version
        run: |
          GIT_VERSION=$(git describe --tags --match=v* --exclude=*rc* --always)
          echo "version=$GIT_VERSION" >> $GITHUB_OUTPUT

      - name: Build PhotonLibPy package
        uses: hynek/build-and-inspect-python-package@v2
        with:
          path: ./photon-lib/py
        env:
          PHOTONVISION_GIT_VERSION: ${{ steps.version.outputs.version }}

  test:
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Download built package
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist/

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest mypy

      - name: Run Unit Tests
        working-directory: ./photon-lib/py
        run: |
            pip install --no-cache-dir ../../../dist/*.whl
            pytest

      - name: Run mypy type checking
        run: mypy --show-column-numbers --config-file photon-lib/py/pyproject.toml photon-lib

  test-python-examples:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Download built package
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist/

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest mypy

      - name: Install PhotonLibPy from built wheel
        run: |
          pip install dist/*.whl

      - name: Build Python examples
        working-directory: photonlib-python-examples
        shell: bash
        run: |
          for folder in */;
          do
            echo $folder
            ./run.sh $folder
          done

  publish:
    needs: [test, test-python-examples]
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')

    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Download built packages
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
